body {
  margin: 0; /* All four sides is 0 */
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #707a78;
}

h1 {
  /* font-size: 3rem; 562.5% = 90px */
  margin: 50px auto 0 auto;
  color: #40514e;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  /* font-size: 4rem; */
  font-weight: bolder;
  color: #706c61;
  padding-bottom: 4rem;
}

h3 {
  color: #11999E;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

hr {
  border-style: dotted none none;
  border-color: lightgrey;
  border-width: 7px;
  width: 5%;
}

p {
  line-height: 2.5;
  font-size: x-large;
}

a {
  color: #11999e;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #10788e
}

/* Big background image containers start */
.bg-img-top {
  background-image: url("../images/glowman.gif");
  /* Image by giphy.com, author: dualvoidanima, @dualvoidanima */
}

.bg-img-one {
  background-image: url("../images/Octocat.png");
}

.bg-img-two {
  background-image: url("../images/endless.gif");
}

.bg-img-bottom {
  background-image: url("../images/moon-waves.gif");
}

/* Big background image containers end */

/* Navbar settings */

.navbar-div {
  padding: 2rem 0rem 2rem 0rem;
}
  
.navbar-btns {
  padding: 1rem 0rem 1rem 0rem;
}

.navbar-font {
  font-size: 28px!important;
  
}

/* Navbar settings (end)*/

.top-container {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #DFD7CD 0%, #718067 100%);
  padding-top: 12rem;
}

.middle-container {
  padding-top: 50px;
  padding-bottom: 0.5%;
  background-color: #eeeeee;
}

.bottom-container {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #DFD7CD 0%, #718067 100%);
  padding: 0;
}

.profile {
  padding-bottom: 5%;
}

.pro {
  text-decoration: underline; /* Use span for inline paragraph edits with css */
}

.descriptive-paragraph {
  display: flow-root;
  width: 75%;
  margin: auto;
  text-align: justify;
  line-height: 2;
}

.big-paragraph-div {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

/* Project Images */
.mySlids {
  display: none;
}

/* Images */
.pic-of-me {
  width: 50%;
  padding-top: 20px;
  margin-bottom: -10px;
}
.java-cup {
  height: 125px;
  width: auto;
}
.html5-logo {
  padding-left: 10%;
  height: 125px;
  width: auto;
}
.css-logo {
  padding-left: 10%;
  height: 125px;
  width: auto;
}
.javascript-logo {
  padding-left: 10%;
  height: 125px;
  width: auto;
}
.team {
  height: 125px;
  width: auto;
}
.laptop {
  height: 125px;
  width: auto;
}
.critical-thinker {
  height: 125px;
  width: auto;
}

.contact-me {
  display: flow-root;
  vertical-align: baseline;
  padding-bottom: 2rem;
}

.end-message {
  padding-bottom: 2.5%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #1d3233, #a1a7a5);
  background-image: -moz-linear-gradient(top, #1d3233, #a1a7a5);
  background-image: -ms-linear-gradient(top, #1d3233, #a1a7a5);
  background-image: -o-linear-gradient(top, #1d3233, #a1a7a5);
  background-image: linear-gradient(to bottom, #1d3233, #a1a7a5);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Noto Sans', sans-serif;
  color: #f0f0f0;
  font-size: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  text-decoration: none;
}

.btn:hover {
  background: #1e8cc7;
  background-image: -webkit-linear-gradient(top, rgb(116, 116, 116), #000000);
  background-image: -moz-linear-gradient(top, rgb(116, 116, 116), #000000);
  background-image: -ms-linear-gradient(top, rgb(116, 116, 116), #000000);
  background-image: -o-linear-gradient(top, rgb(116, 116, 116), #000000);
  background-image: linear-gradient(to bottom, rgb(116, 116, 116), #000000);
  text-decoration: none;
}

.footer {
  color: #EAF6F6;
  font-size: 0.75rem;
}

/* Image sources start */
.src-container {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #ffffff 0%, #4e4e4e 100%);
  padding: 8rem 2rem 0rem 2rem;
  color: black;
  font-size: 2rem;
  display: flow-root;
}

.src {
  color: black;
  line-height: 1.5;
  padding: 2rem;
}
/* Image sources end */

.the-links {
  padding-top: 12rem;
  color: white;
  font-size: 30px;
}

/* Unique Identifiers */

#my-name {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: #EAE5E2;
}

#programmer {
  padding-top: 0;
  padding-bottom: 3.5rem;
}

/* Navbar logo */
#sphere {
  height: 5rem;
  width: initial;
}
*/

#nav-logo {
  /* height: 25%; */
  /* width: initial; */
  /* padding-bottom: 2rem; */
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  /* -webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px; */
  /* -moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px; */
  /* box-shadow: rgba(0,0,0,0.20) 0 10px 10px; */
}

#bg-glow-man {
  height: 40rem;
  width: initial;
  padding-bottom: 2rem;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  -moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
}

#bg-gitlink {
  height: 50rem;
  width: initial;
  padding-bottom: 2rem;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 77% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

#bg-out {
  height: 325px;
  width: initial;
  padding-bottom: 2rem;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  -moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
}

#bg-src {
  height: 55rem;
  width: initial;
  padding-bottom: 2rem;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  -moz-box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
  box-shadow: rgba(0,0,0,0.20) 0 10px 10px;
}

#hello {
  margin-inline: auto;
  padding-top: 16rem;
}

#big-paragraph {
  font-style: italic;
  font-size: 1.5rem;
  padding-top: 1.75rem;
  width: 50%;
}
